<h1>WorkoutEntries#index</h1>
<p>Find me in app/views/workout_entries/index.html.erb</p>

<h1><%= @year %>年<%= @month %>月</h1>

<%= form_with url: '/admin/workouts/monthly', id: 'form' do |f| %>
    <%= f.hidden_field 'id' %>
    <%= f.hidden_field 'workout_name' %>
    <%= f.submit 'submit', class: 'hidden' %>
<% end %>
<%# { %>
  <%# workout_1: ["児童名A", "児童名B"], %>
  <%# workout_2: ["児童名C"], %>
  <%# workout_3: [] %>
<%# } %>

<%# key, value = [workout_1, ["児童名A", "児童名B"]] %>

<div class="wrapper">
  <% @workout_grouped_children.each do |workout, children| %>
    <table>
      <thead>
        <tr>
          <td class="td">
            <div class="toggle">
              <input type="text" class="toggleInput" data-id="<%= workout.id %>">
              <span class="toggleValue"><%= workout.name %></span>
            </div>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% children.each do |child_name| %>
            <tr>
              <td><%= child_name %></td>
            </tr>
          <% end %>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>

<h1><%= @next_month.year %>年<%= @next_month.month %>月</h1>

<% @next_month_workouts.each do |next_month_workout| %>
  <% if next_month_workout.nil? %>
    <%= form_with url: '/admin/workouts/next_month', id: 'form' do |f| %>
      <%= f.text_field 'workout_name', placeholder: 'ワークアウト名を入力してください' %>
      <%= f.submit 'submit' %>
    <% end %>
  <% else %>
  <div class="toggle">
    <input type="text" class="toggleInput" data-id="<%= next_month_workout.id %>">
    <span class="toggleValue"><%= next_month_workout.workout.name %></span>
  </div>

  <% end %>
<% end %>

<!-- <input name="worout_name" value="bar"> -->
<!-- <input name="foo" value="bar"> -->
<% #params[:foo] # => 'bar' %>
<!-- TODO: workout の入力欄を 3つ 用意する -->